.desktop-bar {
    position: absolute;
    width: 100%;
    height: 69px;
    top: 0px;
    left: 0px;
    
    background: radial-gradient(50% 50% at 50% 50%, rgba(154, 118, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%), #211F2A;
    /* Dark UI / bigger box shadow */
    
    box-shadow: 1px 4px 20px #000000;
}
.desktop-bar-logo {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 9px;
    top: 2.5px;
}
.desktop-bar-apply {
    position: absolute;
    width: 74px;
    height: 27px;
    right: 17px;
    top: 21px;
}
.desktop-menu {
    position: absolute;
    width: 526px;
    height: 69px;
    left: calc(50.00% - 263px);
    top: 0px;
}
.desktop-home {
    position: absolute;
    width: 83px;
    height: 69px;
    left: 0px;
    top: 0px;
}
.desktop-home-content {
    position: absolute;
    width: 83px;
    height: 47px;
    left: 0px;
    top: 0px;    
}
.desktop-home-text {
    position: absolute;
    width: 49px;
    height: 21px;
    left: 0px;
    top: 4px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;
}
.desktop-home:hover .desktop-home-text {
    font-weight: bold;
}
.desktop-home-icon {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 61px;
    top: 26px;    
}
.desktop-home-active {
    position: absolute;
    width: 83px;
    height: 5px;
    left: calc(50% - 83px/2);
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.desktop-leadership {
    position: absolute;
    width: 119px;
    height: 69px;
    left: 138px;
    top: 0px;    
}
.desktop-leadership-content {
    position: absolute;
    width: 119px;
    height: 47px;
    left: 0px;
    top: 0px;    
}
.desktop-leadership-text {
    position: absolute;
    width: 89px;
    height: 21px;
    left: 0px;
    top: 4px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.desktop-leadership:hover .desktop-leadership-text {
    font-weight: bold;
}
.desktop-leadership-active {
    position: absolute;
    width: 119px;
    height: 5px;
    left: calc(50% - 119px/2);
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.desktop-leadership-icon {
    position: absolute;
    width: 18px;
    height: 21px;
    left: 101px;
    top: 26px;
}
.desktop-leadership-active {
    position: absolute;
    width: 119px;
    height: 5px;
    left: calc(50% - 119px/2);
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.desktop-projects {
    position: absolute;
    width: 96px;
    height: 69px;
    left: 312px;
    top: 0px; 
}
.desktop-projects-content {
    position: absolute;
    width: 96px;
    height: 47px;
    left: 0px;
    top: 0px; 
}
.desktop-projects-text {
    position: absolute;
    width: 66px;
    height: 21px;
    left: 0px;
    top: 4px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.desktop-projects:hover .desktop-projects-text {
    font-weight: bold;
}
.desktop-projects-icon {
    position: absolute;
    width: 18px;
    height: 21px;
    left: 78px;
    top: 26px;
}
.desktop-projects-active {
    position: absolute;
    width: 96px;
    height: 5px;
    left: calc(50% - 96px/2);
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px; 
}
.desktop-faq {
    position: absolute;
    width: 63px;
    height: 69px;
    left: 463px;
    top: 0px;
}
.desktop-faq-content {
    position: absolute;
    width: 63px;
    height: 47px;
    left: 0px;
    top: 0px;
}
.desktop-faq-text {
    position: absolute;
    width: 33px;
    height: 21px;
    left: 0px;
    top: 4px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.desktop-faq:hover .desktop-faq-text {
    font-weight: bold;
}
.desktop-faq-icon {
    position: absolute;
    width: 18px;
    height: 21px;
    left: 45px;
    top: 26px;    
}
.desktop-faq-active {
    position: absolute;
    width: 63px;
    height: 5px;
    left: calc(50% - 63px/2);
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.mobile {
    height: 1223px;
}
.mobile-bar {
    position: absolute;
    height: 69px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    background: radial-gradient(50% 50% at 50% 50%, rgba(154, 118, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%), #211F2A;
    /* Dark UI / bigger box shadow */
    
    box-shadow: 1px 4px 20px #000000;
}
.mobile-menu {
    position: absolute;
    width: 143px;
    height: 69px;
    left: 40px;
    top: 0px;     
}
.mobile-home {
    position: absolute;
    width: 22px;
    height: 69px;
    left: 0px;
    top: 0px;
}
.mobile-home-icon {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 0px;
    top: 24px;    
}
.mobile-home-active {
    position: absolute;
    width: 22px;
    height: 5px;
    left: 0px;
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.mobile-leadership {
    position: absolute;
    width: 18px;
    height: 69px;
    left: 44.5px;
    top: 0px;
}
.mobile-leadership-icon {
    position: absolute;
    width: 18px;
    height: 21px;
    left: 0px;
    top: 24px;    
}
.mobile-leadership-active {
    position: absolute;
    visibility: hidden;
    width: 19px;
    height: 5px;
    left: 0px;
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.mobile-projects {
    position: absolute;
    width: 18px;
    height: 69px;
    left: 85px;
    top: 0px;    
}
.mobile-projects-icon {
    position: absolute;
    width: 18px;
    height: 21px;
    left: 0px;
    top: 24px;    
}
.mobile-projects-active {
    position: absolute;
    visibility: hidden;
    width: 16px;
    height: 5px;
    left: 0px;
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.mobile-faq {
    position: absolute;
    width: 18px;
    height: 69px;
    left: 125.5px;
    top: 0px;    
}
.mobile-faq-icon {
    position: absolute;
    width: 18px;
    height: 21px;
    left: 0px;
    top: 24px;    
}
.mobile-faq-active {
    position: absolute;
    visibility: hidden;
    width: 18px;
    height: 5px;
    left: 0px;
    top: 64px;
    
    background: #FFFFFF;
    border-radius: 3px;
}
.mobile-apply {
    position: absolute;
    width: 74px;
    height: 27px;
    right: 20px;
    top: 21px;      
}
.mobile-content {
    position: absolute;
    width: 280px;
    height: 1107px;
    left: calc(50% - 280px/2);
    top: 96px;    
}
.mobile-banner {
    position: absolute;
    width: 280px;
    height: 191px;
    left: calc(50% - 280px/2);
    top: 0px;
}
.mobile-title {
    position: absolute;
    width: 261px;
    height: 68px;
    left: calc(50% - 261px/2 - 9.5px);
    top: 194px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    
    color: #FFFFFF;    
}
.mobile-school {
    position: absolute;
    width: 140px;
    height: 34px;
    left: calc(50% - 140px/2 - 70px);
    top: 262px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;
}
.mobile-mission {
    position: absolute;
    width: 280px;
    height: 231px;
    left: calc(50% - 280px/2);
    top: 430px;
    
    /* L2 */
    
    background: #211F2A;
    border-radius: 25px;
}
.mobile-mission-title {
    position: absolute;
    width: 78.33px;
    height: 30.83px;
    left: calc(50% - 78.33px/2 - 0.67px);
    top: -2px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #FFFFFF;    
}
.mobile-mission-text {
    position: absolute;
    width: 240px;
    height: 140px;
    left: calc(50% - 240px/2);
    top: 45px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    /* or 20px */
    
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;    
}
.mobile-about {
    position: absolute;
    width: 280px;
    height: 511px;
    left: calc(50% - 280px/2);
    top: 693px;
    
    background: #211F2A;
    border-radius: 25px;
}
.mobile-about-title {
    position: absolute;
    width: 66.67px;
    height: 30.83px;
    left: calc(50% - 66.67px/2 - 0.67px);
    top: -2px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    
    /* High Contrast */
    
    color: #FFFFFF;
}
.mobile-about-text {
    position: absolute;
    width: 240px;
    height: 420px;
    left: calc(50% - 240px/2);
    top: 45px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    /* or 20px */
    
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;
}